<div class='side'>
  <div class="list-box">
  <div class="side-list">
    <div class="title">推荐</div>
    <ul>
      <li><i class="side-icon icon-music"></i> 发现音乐</li>
      <li><i class="side-icon icon-fm"></i> 私人FM</li>
      <li><i class="side-icon icon-mv"></i> MV</li>
      <li><i class="side-icon icon-friends"></i> 朋友</li>
    </ul>
  </div>

  <div class="side-list">
    <div class="title">我的音乐
      <i class="side-icon icon-right-arrow"></i>
    </div>
    <ul>
      <li><i class="side-icon icon-itunes"></i> iTunes音乐</li>
      <li><i class="side-icon icon-download "></i> 下载的音乐</li>
    </ul>
  </div>

  <div class="side-list">
    <div class="title">创建的歌单
      <i class="side-icon icon-add"></i>
    </div>
    <ul>
      <li><i class="side-icon icon-like"></i> 我喜欢的音乐</li>
      <li><i class="side-icon icon-list"></i> 范特西</li>
    </ul>
  </div>

  <div class="side-list">
    <div class="title">收藏的歌单 </div>
    <ul>
      <li><i class="side-icon icon-list"></i> 依然范特西</li>
    </ul>
  </div>
</div>

  <div class='current-music'>
    <div class="cd-img">
      <img src="assets/imgs/default_cover.png" alt="">
    </div>
    <p class="title">她的睫毛 <span class="detail">叶惠美</span></p>
    <p class="name">周杰伦</p>
  </div>
</div>
