<div class="head-bar">
  <div class="head-bar-scale">
          <span class="topbar-icon icon-scale"></span>
  </div>
  <div class="head-bar-controls">
      <span class="topbar-icon icon-close" (click)="close($event)"></span>
      <span class="topbar-icon icon-mini" (click)="mini($event)"></span>
      <span class="topbar-icon icon-expand" (click)="expand($event)"></span>
  </div>
  <div class='head-content'>
    <div class="topbar-icon icon-logo"></div>
    <div class='nav-conytrols'>
      <div class="back topbar-icon icon-prev"></div>
      <div class="forward topbar-icon icon-next"></div>
    </div>
    <div class="search">
      <i class="topbar-icon icon-search"></i>
      <input placeholder="搜索音乐,歌手,歌词,用户" />
    </div>
    <div class="setting topbar-icon icon-setting"></div>
    <div class="message topbar-icon icon-msg"></div>
    <div class="user-content">
      <div class="user-pic"></div>
      <i class="topbar-icon icon-dropdown"></i>
    </div>
  </div>
  </div>
