<div class='player'>

  <div class="player-btn ">
    <i class="btmbar-icon icon-play"></i>
  </div>
  <div class="next-btn ">
    <i class="btmbar-icon icon-next"></i>
  </div>
  <div class='lyric'>
      <i class="btmbar-icon icon-lyric-on"></i>
    </div>
    <div class="volume">
        <i class="btmbar-icon icon-volume-on icon-volume-off"></i>
        <div class="volume-progress">
          <span class="volume-dot"></span>
        </div>
    </div>
  <div class="progress">
    <span class="time-dot"></span>
    <span class="time-info">03:25/ 06:35</span>
  </div>


</div>
